{% extends 'base.html.twig' %}

{% block title %}New EterUser{% endblock %}

{% block body %}
    <h1>Create new EterUser</h1>

    {{ include('eter_user/_form.html.twig') }}

    <a href="{{ path('eter_user_index') }}">back to list</a>
{% endblock %}
