{% extends 'base.html.twig' %}

    {% block title %}Connexion{% endblock %}

        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align white-text">
                        <h1>Connexion</h1>
                    </div>
                </div>
                {% if error %}
                <div class="row">
                    <div class="col s12">
                        <p class="red-text">{{ error.messageKey | trans(error.messagedata, 'security') }}</p>
                        <small class="red-text">Tips : Vérifiez votre email. Le mot de passe contient 8 caractères minimum</small>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <form action="{{ path('login') }}" method="post" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="email" name="_username" class="validate" value="{{ last_username }}">
                                <label for="username">Adresse e-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" name="_password">
                                <label for="password">Mot de passe</label>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>
                                    <input type="checkbox" />
                                    <span>Se souvenir de moi</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="waves-effect waves-light btn btn-rounded light-blue accent-3"
                                        type="submit">Se connecter
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col s12">
                            <p class="white-text">Pas encore membre ? Rejoignez notre <a href="">communauté</a> !!!</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}