{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img" src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">

            <h1 id="forgot_pass1">Réinitialisation du mot de passe</h1>   

            <form method="post">
                <label for="pass">NOUVEAU MOT DE PASSE</label>
                <input type="password" name="password" id="pass">
                <input type="hidden" name="token" value="{{ token }}">
                <button>VALIDER</button>
            </form>
        
        </div>

{% endblock %}