{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img" src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">

        <h1 id="forgot_pass1">Réinitialisation du mot de passe</h1>

        {# Installation de la balise form de départ #}
        <form method="post">

            <label for="pass"> Nouveau mot de passe </label>
            <input type="password" name="password" id="pass">
            <input type="hidden" name="token" value="{{ token }}">

            <button>Valider</button>

        </form>

    </div>

{% endblock %}