{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" id="forgot1">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img1" src="{{ asset('img/logo/logoEterelzBlanc.png') }}" class="col s12 responsive-img" alt="Logo Eterelz"
             title="Logo Eterelz">

        <h1 id="forgot_pass3" class="white-text">Réinitialisation du mot de passe</h1>

        <form method="post">

            <div class="row">
                <div id="forgot_pass4" class="col-12">

                </div>
                <div class="input-field col s12">
                    <input id="pass" type="password" name="password" class="validate">
                    <label for="pass">Last Name</label>
                    <span id="alertmdp"></span>
                </div>


                <input type="hidden" name="token" value="{{ token }}">

            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <button type="submit" id="bouton_envoi4" class="waves-effect waves-light btn btn-rounded purple darken-1">VALIDER</button>
                </div>
            </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/password_jquery.js') }}"></script>
{% endblock %}