{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img" src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">

            <h1 id="forgot_pass1">Réinitialisation du mot de passe</h1>

            <form method="post">

            <div class="row">

                    <div id="forgot_pass2" class="col-12">
                        <label>NOUVEAU MOT DE PASSE :</label>
                    </div>

                    <div class="col-12">
                        <input type="password" id="pass" placeholder="Saisissez votre nouveau mot de passe" name="password" class="form-control">
                        <span id="alert9"></span>
                    </div>

                        <input type="hidden" name="token" value="{{ token }}">

            </div>

            <button type="submit" id="bouton_envoi4" class="btn btn-info">VALIDER</button>

            </form>
        
        </div>

{% endblock %}

{% block javascripts %}

<script src="{{ asset('js/reset_password_jquery.js') }}"></script>

{% endblock %}