{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {# Affichage du logo Eterelz #}
        <img id="forgot_img" src="{{ asset('img/logo/logoEterelz.png') }}" class="align-center col-12" alt="Logo Eterelz" title="Logo Eterelz">

        <h1 id="forgot_pass1">Réinitialisation du mot de passe</h1>

        <form method="post">

            <div class="row">
                    <div id="forgot_pass2" class="col-12">
                <label> Nouveau mot de passe </label>
                    </div>
                    <div class="col-12">
                <input type="password" name="password" id="pass" class="form-control" placeholder="Saisissez votre nouveau mot de passe">
                    </div>

                <input type="hidden" name="token" value="{{ token }}">

            </div>

            <button type="submit" id="button" class="btn btn-primary">Valider</button>

        </form>

    </div>

{% endblock %}