{% extends 'base.html.twig' %}

{% block title %}Edit EterGame{% endblock %}

{% block body %}
    <h1>Edit EterGame</h1>

    {{ include('eter_game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('eter_game_index') }}">back to list</a>

    {{ include('eter_game/_delete_form.html.twig') }}
{% endblock %}
