{% extends 'base.html.twig' %}

{% block title %}New EterGame{% endblock %}

{% block body %}
    <h1>Create new EterGame</h1>

    {{ include('eter_game/_form.html.twig') }}

    <a href="{{ path('eter_game_index') }}">back to list</a>
{% endblock %}
