/**
background body
 */
 body {
    background-image: url("../img/connection/signinBg.jpg");
    color: #ebeef9;
}
/**
sidebar css
 */
.main-sidebar {
    background: none;
}
.sidebar-menu a {
    color: #ebeef9;
}
.sidebar-menu .fa {
    color: #ebeef9;
}
.treeview-menu a {
    color: #ebeef9;
}
.treeview-menu a .fa {
    color: #ebeef9;
}
/**
table css
 */
.content {
    background-color: #343A40;
    border-radius: 20px 20px 20px;
    box-shadow: 3px 3px 15px 0 black; /*#28C4D6*/
}
.title {
    color: #ebeef9;
}
.content-header {
    border-bottom: none;
}
.datagrid thead {
    background-color: #343A40;
}
.datagrid thead a, .datagrid thead span {
    color: #ebeef9;
}
.table {
    color: #ebeef9;
}
tr:hover {
    color: #1d2124;
}
.content-footer {
    background-color: #343A40;
    border-top: none;
    border-radius: 20px 20px 20px;
}
.content-body form, .content-footer {
    border-radius: 20px 20px 20px;
}
.page-item.disabled .page-link {
    background-color: #343A40;
}
.datagrid td, .datagrid th {
    border-bottom: none;
    border-top: none;
}
.page-link, .page-link:hover {
    background-color: #9F1E5D;
    border: none;
}
/**
 details css
 */
.content-body .form-horizontal, .content-body form {
    background-color: #343A40;
}
.form-group .col-form-label.required::after, .form-group label.required::after {
    color: #f90b1c;
}
.form-group label, .form-group legend.col-form-label {
    color: #ebeef9;
}
.select2-container--bootstrap .select2-results__option {
    background-color: #343A40;
}
body.show .form-horizontal {
    background-color: #343A40;
}