/**
general
 */
.ml-70 {
    margin-left: 70px;
}

.mr-70 {
    margin-right: 90px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.btn-rounded {
    border-radius: 50px;
}
input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"] {
    color: white;
}
.input-field input[type="email"]:focus:not(.browser-default),
.input-field input[type="text"]:focus:not(.browser-default),
textarea.materialize-textarea:focus:not(.browser-default) {
    color: white;
    border-bottom: 1px solid #f50057;
    box-shadow: 0 1px 0 0 #f50057;
}

.input-field input[type="password"]:focus:not(.browser-default),
.input-field input[type="text"]:focus:not(.browser-default),
textarea.materialize-textarea:focus:not(.browser-default) {
    color: white;
    border-bottom: 1px solid #f50057;
    box-shadow: 0 1px 0 0 #f50057;
}

.input-field input[type="email"]:focus:not([readonly]) + label,
.input-field input[type="text"]:focus:not([readonly]) + label,
.input-field input[type="password"]:focus:not([readonly]) + label {
    color: #f50057;

}

.input-field label:not(.label-icon).active {
    color: #f50057;
}

.input-field .helper-text {
    margin-top: 12px;
    color: #d50000;
}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #f50057 !important;
    border-color: #f50057;
}
/**
home background
 */
body {
    background-color: #1b1e21;
}

.base {
    background-image: url("../img/connection/signinBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-attachment: fixed;
    /*min-height: 150%;*/
}

/**
navbar
 */
nav {
    background-color: #212121;
    height: 75px;
}

@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
        display: block;
        text-decoration: none;
    }
}

.logo {
    width: 200px;
    height: auto;
    margin-top: -8px;
    margin-right: -15px;
    position: relative !important;
}

/**
FLoating action button network
 */
.fixed-action-btn {
    bottom: 0;
    top: 5px;
    right: 0;
}

.btn-floating {
    opacity: 1 !important;
}

.btn-large {
    transform: none !important;
}

.input-field input[type="search"]:focus:not(.browser-default) {
    border-radius: 50px;
    height: 60px;
    margin-top: 7px;
}

/**
sidenav
 */
.sidenav {
    background-color: #212121;
}

.sidenav .user-view {
    min-height: 150px !important;
}

/**
login modal
 */
.login-modal {
    background-color: #212121;
}

/**
slider
 */
.background-slider {
    position: relative;
    background-image: url('../img/background/disclaimer_bg.jpg');
}

#logo {
    height: 200px;
    width: 400px;
    background-image: url('../img/logo/logoEterelzBlanc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 150px;
    padding: 0;
}

.project {
    height: 200px;
    width: 500px;
    font-size: 4em;
    color: white !important;
    font-weight: bold;
    margin: 0;
}

.slider .indicators .indicator-item.active {
    background-color: #f50057;
}

/**
card stat
 */
.stat {
    position: relative;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6 !important;
}

.stat-title {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.vdivider {
    margin: 10px 50px;
    height: 250px;
    width: 2px;
    border-right: 3px solid gray;
    transform: rotate(-20deg)
}

/**
stat card mobil
 */
.mobil-card {
    background-color: #212121 !important;
}

/**
profil details
 */
.profil-pic {
    width: 300px;
    height: auto;
}
.profil {
    margin-top: 50px;
}



/*.info-color {*/
/*    background-color: #9F1E5D !important;*/
/*}*/
/*.card-body {*/
/*    background-color: #2E2E2E;*/
/*    !*border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px) !important;*!*/
/*}*/
/*.card-header:first-child {*/
/*    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;*/
/*}*/


/*.backgroundSignin {*/
/*    background-image: url("../img/connection/signinBg.jpg");*/
/*}*/

/*!***/
/*navbar*/
/* *!*/

/*#fixe {*/
/*    position: fixed;*/
/*    height: auto;*/
/*}*/


/*.menu-social {*/
/*    font-size: 25px;*/
/*    color: #53C8E0 !important;*/
/*}*/

/*.nav-link {*/
/*    color: #53C8E0 !important;*/
/*}*/


/*.signinCard {*/
/*    width: 400px;*/
/*}*/

/*.footer {*/
/*    height: 200px;*/
/*}*/

/*!***/
/*Modal connexion*/
/* *!*/
/*.modal-content {*/
/*    background-color: #2E2E2E;*/
/*}*/
/*.login {*/
/*    border-radius: 25px 0 0 25px !important;*/
/*}*/
/*.signin {*/
/*    border-radius: 0 25px 25px 0 !important;*/
/*}*/


/*!***/
/*stat*/
/* *!*/

/*.row.vdivide [class*='col-']:not(:last-child):after {*/
/*    background: #e0e0e0;*/
/*    width: 6px;*/
/*    content: "";*/
/*    display:block;*/
/*    position: absolute;*/
/*    top:0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    height: 250px;*/
/*    transform: rotate(10deg); !* Équivalent à rotateZ(45deg) *!*/
/*}*/

/*.stat {*/
/*    height: 280px;*/
/*}*/
/*.marge {*/
/*    margin-bottom: 0;*/
/*    margin-top: 0;*/
/*    padding-top: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/

/*!***/
/*random card*/
/* *!*/


/*!* angled box styles *!*/
/*.randPic {*/
/*    width: auto;*/
/*    height: 30% !important;*/
/*}*/

/*.randCard {*/
/*    margin-right: -50px;*/
/*}*/
/*.box{*/

/*    width:700px;*/
/*    height:500px;*/
/*    !*background:#ccc;*!*/
/*    overflow:hidden;*/
/*    margin:1em 0;*/
/*}*/
/*.box .inner{*/
/*    -moz-transform:rotate(20deg);*/
/*    -webkit-transform:rotate(20deg);*/
/*    -o-transform:rotate(20deg);*/
/*    width:300px;*/
/*    height:450px;*/
/*    margin-top:-70px;*/

/*    margin-right:300px;*/
/*    overflow:hidden;*/
/*    !*background:#aaa;*!*/
/*    float:right;*/
/*    !*border:3px solid #fff;*!*/
/*}*/
/*.box .inner .content{*/
/*    -moz-transform:rotate(-20deg);*/
/*    -webkit-transform:rotate(-20deg);*/
/*    -o-transform:rotate(-20deg);*/
/*    width:500px;*/
/*    height:320px;*/
/*    margin-top:60px;*/
/*    margin-left:-80px;*/
/*    overflow:hidden;*/
/*    !*background:#f1f1f1;*!*/
/*}*/

/*!***/
/*table*/
/* *!*/
/*table {*/
/*    background-color: #DDDDDD;*/
/*}*/

/*!***/
/*icon*/
/* *!*/
/*.updateUser {*/
/*    color: #53C8E0;*/
/*}*/

/*.delUser {*/
/*    color: #9F1E5D;*/
/*}*/

/*!***/
/*css widget social*/
/* *!*/

/*.modal1 {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    padding: 40px;*/
/*    color: white;*/
/*    z-index: 1021;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    transition: 0.5s cubic-bezier(.68,-0.55,.27,1.55);*/
/*    overflow: auto;*/
/*}*/

/*.modal-close-btn {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 130px;*/
/*    right: 160px;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    padding: 32px;*/
/*    opacity: 0.8;*/
/*    cursor: pointer;*/
/*    transition: 0.3s ease;*/
/*    z-index: 1021;*/
/*}*/

/*.modal-close-btn:hover {*/
/*    opacity: 1;*/
/*}*/

/*.modal--2 { background: #4A90E2; }*/
/*.modal--3 { background: #FFD200; }*/
/*.modal--4 { background: #4CBB47; }*/
/*.modal--5 { background: #362A6C; }*/
/*.modal1.show {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    pointer-events: auto;*/
/*}*/

/*.dialog {*/
/*    background: #4A90E2;*/
/*    min-width: 300px;*/
/*    left: 50%;*/
/*    right: auto;*/
/*    top: 30%;*/
/*    bottom: auto;*/
/*    box-shadow: 0 0 0 3000px rgba(0,0,0,0.4);*/
/*    -webkit-transform: translateX(-50%);*/
/*    transform: translateX(-50%);*/
/*}*/

/*.sidebar {*/
/*    left: auto;*/
/*    top: -150px;*/
/*    right: -150px;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    border-radius: 0 0 50% 50%;*/
/*    -webkit-transform: translateX(100%);*/
/*    transform: translateX(100%);*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/

/*.sidebar.show {*/
/*    -webkit-transform: translateX(0);*/
/*    transform: translateX(0);*/
/*}*/

/*.sidebar__block {*/
/*    border-radius: 5px;*/
/*    background: white;*/
/*    opacity: 0.3;*/
/*    margin-top: 32px;*/
/*}*/

/*.quote-box__bubble {*/
/*    position: relative;*/
/*    background: white;*/
/*    padding: 16px;*/
/*    color: #555;*/
/*    border-radius: 5px;*/
/*    max-width: 480px;*/
/*    margin: 0 auto 20px;*/
/*}*/

/*.quote-box__bubble:after {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border: 10px solid transparent;*/
/*    border-top-color: white;*/
/*}*/

/*footer {*/
/*    padding: 50px 0 20px;*/
/*}*/
/*.footer-text {*/
/*    opacity: 0.7;*/
/*    margin-top: 20px;*/
/*}*/

/*!***/
/*Mise en forme du formulaire registration.html.twig*/
/**!*/

/*#champs {*/
/*    font-size: 13px;*/
/*    font-weight: bold;*/
/*    color: red;*/
/*}*/

/*.row {*/
/*    padding-top: 15px;*/
/*    padding-bottom: 15px;*/
/*}*/

/*#registration {*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    margin-top: 20px;*/
/*}*/

/*#input::placeholder {*/
/*    color: white;*/
/*}*/

/*#button {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    border-radius: 15px;*/
/*}*/

/*#inscription {*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    font-size: 30px;*/
/*    margin-top: 40px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*!***/
/*Cadre de prévisualisation avatar*/
/**!*/

/*#wrapper {*/
/*    !*text-align: center;*!*/
/*    margin: 70px auto;*/
/*}*/

/*#output_image {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    border: 4px solid #000;*/
/*    border-radius: 50%;*/
/*}*/

/*!***/
/*Bouton se connecter dans la barre de navigation*/
/**!*/

/*.waves-effect {*/
/*    overflow: visible;*/
/*}*/

/*.btn-default {*/
/*    background-color: #33B5E5 !important;*/
/*    margin-left: 10px;*/
/*    margin-right: -2px;*/
/*}*/

/*!*Peut être enlever pour la side-barre*!*/

/*.sticky-top {*/
/*    position: absolute;*/
/*}*/

/*!***/
/*Formulaire d'inscription loginModal.html.twig*/
/**!*/

/*.navbar.navbar-dark form .md-form .form-control {*/
/*    color: #4285F4;*/
/*    font-size: 15px;*/
/*}*/

/*.navbar.navbar-dark form .md-form input {*/
/*    border-bottom: 1px solid #CED4DA;*/
/*}*/

/*.md-form label.active {*/
/*    color: #4285f4;*/
/*}*/

/*.nav-link.waves-effect.waves-light {*/
/*    margin-left: 0px;*/
/*}*/

/*#registration {*/
/*    margin-left: 5px;*/
/*    font-size: 14px;*/
/*    margin-top: 10px;*/
/*}*/

/*#mdp_perdu {*/
/*    font-size: 14px;*/
/*    margin-top:10px;*/
/*}*/

/*.nav-link {*/
/*    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;*/
/*    color: white !important;*/
/*    border: white !important;*/
/*    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0 !important;*/
/*}*/

/*.modal-c-tabs {*/
/*    margin-left: -15px;*/
/*    margin-right: -16px;*/
/*}*/

/*.modal-footer {*/
/*    margin-left: 14px;*/
/*    margin-right: 17px;*/
/*}*/

/*.show-password {*/
/*	font-size: 9px;*/
/*	text-transform: uppercase;*/
/*	position: absolute;*/
/*    cursor: pointer;*/
/*    margin-left: 420px;*/
/*}*/

/*!***/
/*Message d'erreurs loginModal.html.twig*/
/**!*/

/*#alert1, #alert2, #alert3, #alert4, #alert5, #alert6, #alert7 {*/
/*    font-size: 13px;*/
/*}*/

/*#mail, #mdp, #email, #password, #identifiant, #discord, #conf_password {*/
/*    margin-bottom: 10px;*/
/*}*/

/*!***/
/*Mise en forme index.html.twig*/
/**!*/

/*#cards {*/
/*    display: inline-block;*/
/*    margin-top: 80px;*/
/*    width: 25rem;*/
/*}*/

/*#eter {*/
/*    background-color:#53C8E0;*/
/*}*/

/*.eters {*/
/*    color: white;*/
/*}*/

/*.profil {*/
/*    margin: 0px;*/
/*    color: white;*/
/*}*/

/*#show {*/
/*    margin-left: 40px;*/
/*}*/

/*a:hover {*/
/*    color: white;*/
/*}*/

/*#image_index {*/
/*    margin-left: 5px;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    border: 4px solid #000;*/
/*}*/

/*!***/
/*Mise en forme show.html.twig*/
/**!*/

/*.card-title {*/
/*    text-align: center;*/
/*    color:white;*/
/*    font-size: 50px;*/
/*}*/

/*#rens1, #rens2, #rens3, #rens4, #rens5, #rens6, #rens7, #rens8, #rens9, #rens10, #rens11, #rens12, #rens13 {*/
/*    color:white;*/
/*    font-size: 25px;*/
/*}*/

/*#edit_rens1, #edit_rens2, #edit_rens3, #edit_rens4, #edit_rens5, #edit_rens6, #edit_rens7, #edit_rens8, #edit_rens9, #edit_rens10, #edit_rens11, #edit_rens12, #edit_rens13 {*/
/*    color: grey;*/
/*    border: 2px solid grey;*/
/*    border-radius: 5px;*/
/*    padding-left: 10px;*/
/*    font-size: 20px;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    margin-top: 5px;*/
/*}*/

/*#cardprofil {*/
/*    background-color:#2E2E2E;*/
/*}*/

/*#image {*/
/*    margin-top: 20px;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    border: 4px solid #000;*/
/*}*/

/*#show1 {*/
/*    text-align: center;*/
/*}*/

/*#modifier {*/
/*    margin-left: -15px;*/
/*    margin-top: -5px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*[contentEditable=false]:empty:not(:focus):before{*/
/*    content:attr(data-text)*/
/*}*/

/*!***/
/*Mise en forme edit.html.twig*/
/**!*/

/*.editinp {*/
/*    margin-top: 20px;*/
/*    color:white;*/
/*    font-size: 20px;*/
/*}*/

/*.card-title2 {*/
/*    color:white;*/
/*    font-size: 50px;*/
/*}*/

/*#card {*/
/*    margin-top: 90px;*/
/*}*/

/*.card {*/
/*    background-color:#2E2E2E;*/
/*}*/

/*h5 {*/
/*    text-align: center;*/
/*    padding-top: 20px;*/
/*}*/

/*.card-img {*/
/*    border: 4px solid #000;*/
/*}*/

/*#editoblig1 {*/
/*    margin-top: 25px;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*}*/

/*#editoblig2 {*/
/*    margin-top: 10px;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*}*/

/*#editbutton {*/
/*    margin-right: -20px;*/
/*    float: right;*/
/*}*/

/*!***/
/*Mise en forme message de succès d'activation de compte base.html.twig*/
/**!*/

/*#alert_registration {*/
/*    margin-top: 25px;*/
/*    margin-left: 15px;*/
/*    margin-right: 15px;*/
/*}*/

/*!***/
/*Mise en forme forgotten_password.html.twig*/
/**!*/

/*#forgot {*/
/*    margin-top: 30px;*/
/*}*/

/*#forgot_pass2 {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 20px;*/
/*    color: white;*/
/*}*/

/*#forgot_pass1 {*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

/*#forgot_img {*/
/*    margin-top: 40px;*/
/*    text-align: center;*/
/*}*/

/*#bouton_envoi3 {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    border-radius: 15px;*/
/*}*/

/*!***/
/*Mise en forme reset_password.html.twig*/
/**!*/

/*#forgot1 {*/
/*    margin-top: 30px;*/
/*}*/

/*#forgot_pass4 {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 20px;*/
/*    color: white;*/
/*}*/

/*#forgot_pass3 {*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

/*#forgot_img1 {*/
/*    margin-top: 40px;*/
/*    text-align: center;*/
/*}*/

/*#bouton_envoi4 {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    border-radius: 15px;*/
/*}*/

/*#pass {*/
/*    margin-bottom: 10px;*/
/*}*/

/*!***/
/*Mise en forme label des jeux*/
/**!*/

/*.form-check-label {*/
/*    color:white;*/
/*}*/

/*!***/
/*Mise en forme list.html.twig*/
/**!*/

/*#titre1 {*/
/*    margin-top: 90px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

/*#list {*/
/*    width: 23rem;*/
/*}*/

/*#card_header {*/
/*    border-bottom: 1px solid #2D2D2D;*/
/*}*/

/*#card_body {*/
/*    border-bottom: 1px solid white;*/
/*    margin-left: 10px;*/
/*    margin-right: 10px*/
/*}*/

/*#product_title {*/
/*    color: white;*/
/*}*/

/*#product_price {*/
/*    color: white;*/
/*    font-size:20px;*/
/*}*/

/*!***/
/*Mise en forme modal list.html.twig*/
/**!*/

/*#modal_title {*/
/*    color: #FF33F8;*/
/*}*/

/*#modal_body {*/
/*    color: white;*/
/*    text-align: justify;*/
/*}*/

/*.close {*/
/*    color: white;*/
/*}*/

/*!***/
/*Mise en forme cart.html.twig*/
/**!*/

/*#panier {*/
/*    margin-top: 90px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    margin-bottom: 40px;*/
/*}*/

/*#table1 {*/
/*    padding-left: 150px;*/
/*    padding-right: 150px;*/
/*}*/

/*.table {*/
/*    background-color: #CACFD2;*/
/*    border: solid 5px #566573;*/
/*}*/

/*#supprimer {*/
/*    text-align: center;*/
/*    border-bottom: solid 2px #566573;*/
/*}*/

/*#image_panier1, #produits2, #prix, #quantite, #total {*/
/*    width: 5%;*/
/*    border-bottom: solid 2px #566573;*/
/*    font-weight: bold;*/
/*}*/

/*#produits2 {*/
/*    border-bottom: solid 2px #566573;*/
/*}*/

/*#supp {*/
/*    width: 5%;*/
/*    border-bottom: solid 2px #566573;*/
/*}*/

/*td, th {*/
/*    text-align: center;*/
/*}*/

/*.table td, .table th {*/
/*    border-top: 2px solid #566573;*/
/*}*/

/*#image_panier {*/
/*    width: 100%;*/
/*    border-radius: 5px;*/
/*}*/

/*#panier_vide {*/
/*    margin-top: 40px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*}*/

/*#panier_vide2 {*/
/*    width: 10%;*/
/*    height: 0;*/
/*    padding-bottom: 15%;*/
/*    position: relative;*/
/*}*/

/*iframe {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute; */
/*}*/

/*#panier_vide2, iframe {*/
/*    */
/*    margin: 0 auto;*/
/*}*/

/*.text-right, #text-right {*/
/*    font-weight: bold;*/
/*}*/

/*.btn {*/
/*    border-radius: 10px;*/
/*}*/

/*#boutique {*/
/*    text-align: center;*/
/*}*/

/*.circle {*/
/*    border-radius : 100%;*/
/*}*/

/*#plus {*/
/*    margin-left: 10px;*/
/*}*/

/*#moins {*/
/*    margin-right : 10px;*/
/*}*/

/*#qte {*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin-top: -20px;*/
/*}*/

.page-footer {
    background-color: #212121;
}