/**
background in progress
 */
.inProgress {
    background-image: url("../img/workInProgress/COMING_SOONv2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    height: 1500px;
}

/**
home background
 */
.base {
    background-image: url("../img/connection/signinBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    min-height: 150%;
}

.backgroundSignin {
    background-image: url("../img/connection/signinBg.jpg")
}

/**
navbar
 */
.logo {
    width: 15em;
    height: auto;
    position: absolute;
    top: 15px;
    right: 90px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #272725;
}

/**
Social
 */
.social {
    height: 60px;
    width: 260px;
    border-radius: 0 0 50% 50%;
    background: #272725;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.8s cubic-bezier(.68,-0.55,.27,1.55);
}
.social:hover {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #272725;
    position: absolute;
    top: -150px;
    right: -150px;
    transition: 0.8s cubic-bezier(.68,-0.55,.27,1.55);
    /*box-shadow: -9px 10px 26px -3px rgba(159,30,93,1);*/
}
.twitch, .twitter, .youtube, .discord, .facebook {
    z-index: 1000;
    display: none;
    position: absolute;
    top: -30px;
    right: -40px;
    font-size: 40px;
    color: #772CE8;
}
.twitter {
    color: #1CA0F2;
}
.facebook {
    color: #4267B2;
}
.discord {
    color: #7289DA;
}
.youtube {
    color: #FF0000;
}
.network {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
}

/**
sign in card
 */
/*.logoSignin {*/
/*    width: 200px;*/
/*    height: auto;*/
/*    margin-top: 25px;*/
/*}*/
.signinCard {
    width: 400px;
}

.uk-card-default {
    box-shadow: 0 5px 15px #9F1E5D;
    /*padding-left: 0;*/
    opacity: 0.7;
}

.footer {
    height: 200px;
}

/**
table
 */
table {
    background-color: #DDDDDD;
}

/**
icon
 */
.updateUser {
    color: #53C8E0;
}

.delUser {
    color: #9F1E5D;
}

/**
registration.html.twig
 */
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }

  .text-uppercase {
    text-transform: uppercase !important;
  }

  .form-error-message{
      color: red;
  }

  #champs {
      font-size: 15px;
      font-weight: bold;
      color: red;
  }

fieldset {
      border: 0;
      margin-left: -15px;
  }