{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
    <div class="container-fluid mt-50">
        <div class="row" id="app">
        </div>
    </div>

{% endblock %}