<h1>Bienvenue {{ username }} !</h1>

<p>
    Vous vous êtes enregistré(e) en tant que {{ username }} avec l'adresse suivante :
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="http://127.0.0.1:8000/" >Cliquez ici pour activer votre compte</a>
    (Ce lien est valide jusqu'au {{ expiration_date|date('F jS G:i') }})
</p>

